<% layout('./layouts/boilerplate')%>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <div class="h-100 overflow-auto">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3 mb-3 shadow bg-secondary rounded p-4">
                <h1 class="mb-3">Update Product</h1>
                <form action="/products/update/<%= product.id%>?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="title">Product Title:</label>
                        <input type="text" id="title" name="product[title]" class=" p-2 d-block w-100"
                            value="<%= product.title%>">
                    </div>
                    <div class="mb-3">
                        <label for="brand">Brand:</label>
                        <select type="text" id="brand" name="product[brand]" class="d-block p-2 w-100">
                            <option value="Denon" <%- (product.brand==='Denon' ) ? 'selected' : '' %>>Denon</option>
                            <option value="Marantz" <%- (product.brand==='Marantz' ) ? 'selected' : '' %>>Marantz
                            </option>
                            <option value="Yamaha" <%- (product.brand==='Yamaha' ) ? 'selected' : '' %>>Yamaha</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="SKU">SKU:</label>
                        <input type="text" id="SKU" name="product[sku]" class="d-block w-100 p-2"
                            value="<%= product.sku %>">
                    </div>
                    <div class="mb-3">
                        <label for="component">Component:</label>
                        <select id="component" name="product[component]" class="d-block w-100 p-2">
                            <option value="Amplifier" <%- (product.component==='Amplifier' ) ? 'selected' : '' %>
                                >Amplifier</option>
                            <option value="Receiver" <%- (product.component==='Receiver' ) ? 'selected' : '' %>>Receiver
                            </option>
                            <option value="CD Player" <%- (product.component==='CD Player' ) ? 'selected' : '' %>>CD
                                Player</option>
                            <option value="Network Player" <%- (product.component==='Network Player' ) ? 'selected' : ''
                                %>>Network Player</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description">Product Description:</label>
                        <textarea type="text" rows="5" cols='33' id="description" name="product[description]"
                            value="<%= product.description %>"><%= product.description %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="channels">Output Channels</label>
                        <select name="product[channels]" id="channels" class="p-2 d-block w-100">
                            <option value="Stereo" <%- (product.channels==='Stereo' ) ? 'selected' : '' %>>Stereo
                            </option>
                            <option value="4-Channels" <%- (product.channels==='4-Channels' ) ? 'selected' : '' %>
                                >4-Channels</option>
                            <option value="5-Channels" <%- (product.channels==='5-Channels' ) ? 'selected' : '' %>
                                >5-Channels</option>
                            <option value="7-Channels" <%- (product.channels==='7-Channels' ) ? 'selected' : '' %>
                                >7-Channels</option>
                            <option value="9-Channels" <%- (product.channels==='9-Channels' ) ? 'selected' : '' %>
                                >9-Channels</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="power">Power</label>
                        <select name="product[power]" id="power" class="p-2 d-block w-100">
                            <option value="14w" <%- (product.power==='14w' ) ? 'selected' : '' %>>14 Watts/Channel
                            </option>
                            <option value="25w" <%- (product.power==='25w' ) ? 'selected' : '' %>>25 Watts/Channel
                            </option>
                            <option value="60w" <%- (product.power==='60w' ) ? 'selected' : '' %>>60 Watts/Channel
                            </option>
                            <option value="125w" <%- (product.power==='125w' ) ? 'selected' : '' %>>125 Watts/Channel
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="status">Status:</label>
                        <select type="text" id="status" name="product[status]" class="p-2 d-block w-100">
                            <option value="Coming Soon" <%- (product.status==='Coming Soon' ) ? 'selected' : '' %>
                                >Coming Soon</option>
                            <option value="Available" <%- (product.status==='Available' ) ? 'selected' : '' %>>Available
                            </option>
                            <option value="Out of Stock" <%- (product.status==='Out of Stock' ) ? 'selected' : '' %>>Out
                                of Stock</option>
                            <option value="End of Life" <%- (product.status==='End of Life' ) ? 'selected' : '' %>>End
                                of Life</option>
                            <option value="Discontinued" <%- (product.status==='Discontinued' ) ? 'selected' : '' %>
                                >Discontinued</option>
                        </select>
                    </div>
                    <button class="btn btn-primary d-block w-100" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script>var editor = new FroalaEditor('#description', {

            enter: FroalaEditor.ENTER_BR

        });</script>