<% layout('./layouts/boilerplate') %>
    <div class="mt-3 p-3 mb-3 h-100">
        <h1>
            <%= products.component %>
        </h1>
        <div class="row align-items-center justify-content-center h-100">
            <% for(let product of products) {%>
                <div class="col-md-4 card rounded-3 m-3">
                    <img src="https://assets.denon.com/Assets/images/ProductImages/PMA-A110/1658_DN_PMA-A-110_overview_image_900x595.png"
                        alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">
                            <%= product.title %>
                        </h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae
                            consectetur
                            tempora dicta illo praesentium hic, nulla totam quas inventore veniam deleniti
                            exercitationem
                            magni
                            iure.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-light">
                                SKU: <%= product.sku %>
                            </li>
                            <li class="list-group-item bg-transparent text-light">
                                Stock: <%= product.status %>
                            </li>
                            <li class="list-group-item bg-transparent text-light">
                                Output: <%= product.channels %>
                            </li>
                            <li class="list-group-item bg-transparent text-light">
                                Power: <%= product.power %>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>
        </div>
    </div>